        - choice:
            name: '{{ name }}'
            description: '{{ description }}'
            choices:
            # for ch in choices.a.string
                - {{ ch }}
            # endfor
